@page "/error"
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body class="text-center text-danger">
    <h2>Error.</h2>
    <h3>An error occured whille processing your request</h3>
</body>
</html>